<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style>
        body{
            font-family: "Open Sans", sans-serif;
        }
        section{
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <section>
        <h1>Please login to enter secret data!</h1>
        <form action="/secret_page">
            <input type="password" name="key" placeholder="Число от 70 до 90">
            <button>Submit</button>
        </form>
    </section>
</body>
</html>